Repository devops-adeel/gtd-coach: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, agent

security: implement comprehensive API key protection system
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  SECURITY.md
Due: none

docs: archive historical and redundant documentation
  docs/PERFORMANCE_BASELINES.md
  docs/archive/CONFIGURATION.md
  docs/archive/TESTING_GUIDE.md
  docs/archive/USER_GUIDE.md
  docs/archive/development-history/EVALUATION_SYSTEM_STATUS.md
  docs/archive/development-history/LANGGRAPH_MIGRATION_PHASE1.md
  docs/archive/development-history/LANGGRAPH_STATE_INJECTION_FIX.md
  docs/archive/development-history/LLM_JUDGE_IMPLEMENTATION.md
  docs/archive/development-history/N_OF_1_IMPLEMENTATION_SUMMARY.md
  docs/archive/development-history/PATTERN_LEARNING_PHASE2.md
  docs/archive/development-history/PHASE3_INTERVENTIONS.md
  docs/archive/development-history/PHASE4_ADAPTIVE_BEHAVIOR.md
  docs/archive/development-history/TIMING_API_TEST_RESULTS.md
  docs/archive/development-history/phase3_summary.md
  docs/archive/development-history/phase4_test_suite_progress.md
  docs/archive/development-history/phase4_week3_progress.md
Due: none

docs: implement Diátaxis documentation framework
  docs/explanation/adhd-design.md
  docs/explanation/architecture.md
  docs/how-to/configure-integrations.md
  docs/how-to/setup.md
  docs/how-to/testing.md
  docs/reference/api.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/tutorial/getting-started.md
Due: none

docs: consolidate and simplify core documentation
  CLAUDE.md
  README.md
  docs/DEVELOPER.md
Due: none

docs: add maintenance guidelines and complete consolidation
  CLEANUP_SUMMARY.md
  docs/CONSOLIDATION_SUMMARY.md
  docs/MAINTENANCE.md
  tests/agent/README.md
Due: none

feat: implement V2 tools to fix InjectedState incompatibility
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/time_manager_v2.py
Due: unittests, integration, agent

feat: migrate to xLAM-7b-fc-r model for improved tool calling
  examples/demo-review-xlam.py
  examples/demo-review.py
  gtd_coach/agent/core.py
Due: unittests, integration, agent

feat: enhance tool descriptions and implement phase-based loading
  gtd_coach/agent/tools/improved_descriptions.py
  gtd_coach/agent/tools/phase_tools.py
Due: unittests, integration, agent

test: add xLAM model tests and migration documentation
  docs/model-comparison.md
  test_xlam_agent.py
  test_xlam_model.py
Due: none

refactor(docker): switch to external Neo4j container
  docker-compose.yml
Due: none

feat(graphiti): add connection logging and database docs
  gtd_coach/integrations/graphiti_client.py
Due: unittests, integration

refactor\!: migrate from Neo4j to FalkorDB-only backend
  docker-compose.yml
  gtd_coach/integrations/graphiti.py
  gtd_coach/integrations/graphiti_client.py
  pytest.ini
  requirements.txt
  tests/conftest.py
Due: unittests, integration

docs: add comprehensive FalkorDB migration guide
  docs/FALKORDB_MIGRATION_COMPLETE.md
Due: none

test: add FalkorDB integration and shared knowledge tests
  tests/integration/test_orbstack_falkordb.py
  tests/integration/test_shared_knowledge.py
Due: none

fix: resolve test collection errors
  Dockerfile
  gtd_coach/agent/workflows/daily_capture.py
  gtd_coach/commands/test.py
  tests/agent/test_coverage_gaps.py
  tests/agent/test_integration.py
Due: unittests, integration, agent

feat: add OrbStack networking support
  .gitignore
  docker-compose.yml
Due: none

feat: enhance GraphitiMemory with session context
  gtd_coach/coach.py
  gtd_coach/integrations/graphiti.py
Due: unittests, integration

fix: update tool invocations for LangGraph v0.6 compatibility
  gtd_coach/agent/workflows/daily_capture.py
  gtd_coach/agent/workflows/weekly_review.py
Due: unittests, integration, agent

fix: enable LLM client initialization in GTDAgent
  gtd_coach/agent/__init__.py
Due: unittests, integration, agent

test: add automatic external service mocking for tests
  requirements.txt
  tests/conftest.py
Due: none

test: update test mocks for LangGraph v0.6 compatibility
  tests/integration/test_end_to_end.py
  tests/integration/test_graphiti_optimizations.py
  tests/test_coach.py
  tests/unit/test_prompt_management.py
Due: none

feat: enhance shadow runner with test compatibility methods
  gtd_coach/agent/shadow_runner.py
Due: unittests, integration, agent

fix: add session context to GraphitiMemory initialization
  gtd_coach/agent/tools/graphiti.py
  gtd_coach/integrations/graphiti.py
Due: unittests, integration, agent

test: fix checkpointing and shadow mode test compatibility
  tests/agent/test_checkpointing.py
  tests/agent/test_shadow_mode.py
Due: none

feat: add OrbStack-optimized test runner script
  scripts/test-orbstack.sh
Due: none

feat: add pattern evolution and persistence modules
  gtd_coach/patterns/evolution.py
  gtd_coach/patterns/pattern_persistence.py
  tests/unit/test_memory_persistence.py
Due: unittests, integration

fix: Handle missing resume attribute when no subcommand provided
  gtd_coach/__main__.py
Due: unittests, integration

fix: Configure LM Studio model selection via environment variable
  docker-compose.yml
  docs/LANGGRAPH_V0.6_MIGRATION.md
  gtd_coach/agent/runner.py
  scripts/testing/fix_test_patterns.py
  scripts/testing/validate_production.py
  tests/agent/test_async_patterns.py
  tests/agent/test_coverage_gaps.py
  tests/agent/test_interrupt_resume.py
  tests/agent/test_langgraph_journeys.py
  tests/agent/test_performance_benchmarks.py
  tests/agent/test_shadow_mode.py
  tests/agent/test_workflow.py
  tests/conftest.py
  tests/integration/test_workflow_with_interrupts.py
Due: unittests, integration, agent

fix: simplify initial state to resolve streaming issue
  gtd_coach/agent/runner.py
  test_lm_studio_stream.py
  test_minimal_agent.py
  test_react_agent.py
  test_xlam_direct.py
  test_xlam_simple.py
Due: unittests, integration, agent

debug: use minimal tool to isolate streaming issue
  gtd_coach/agent/runner.py
Due: unittests, integration, agent

debug: add direct LLM test before agent creation
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
Due: unittests, integration, agent

fix: restore essential tools after debugging
  gtd_coach/agent/runner.py
Due: unittests, integration, agent

feat: add system message to guide agent behavior
  gtd_coach/agent/runner.py
Due: unittests, integration, agent

fix: resolve WEEKLY_REVIEW phase transition error
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/time_manager_v2.py
Due: unittests, integration, agent

fix: add required state fields for tools to function properly
  gtd_coach/agent/runner.py
Due: unittests, integration, agent

fix: remove structured_input_tool from ESSENTIAL_TOOLS
  gtd_coach/agent/tools/__init__.py
Due: unittests, integration, agent

chore: remove temporary debugging test files
  test_lm_studio_stream.py
  test_minimal_agent.py
  test_react_agent.py
  test_xlam_agent.py
  test_xlam_direct.py
  test_xlam_model.py
  test_xlam_simple.py
Due: none

fix: improve agent continuation instructions for STARTUP phase
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/time_manager_v2.py
Due: unittests, integration, agent

fix: resolve infinite loop in sequential interrupt handling
  docs/development/interrupt-fix-2025-08-20.md
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/conversation_v2.py
  gtd_coach/agent/tools/time_manager_v2.py
  gtd_coach/observability/__init__.py
  gtd_coach/observability/interrupt_monitor.py
  gtd_coach/observability/langfuse_tracer.py
  pyproject.toml
  requirements.txt
  scripts/analyze_langfuse_traces.py
Due: unittests, integration, agent

chore: reorganize repository structure for clarity
  scripts/testing/run_tests.sh
  scripts/testing/test_ci_cd.sh
  scripts/testing/test_docker_interrupt.sh
  scripts/testing/test_enhanced_observability.sh
  scripts/testing/test_interactive.sh
  scripts/testing/test_interrupt_continuation.py
  scripts/testing/test_langfuse_integration.py
  scripts/testing/test_llm_client.py
  scripts/testing/test_migration_status.py
  scripts/testing/test_n_of_1_implementation.py
  scripts/testing/test_simple_docker.sh
Due: none

Path conditions:
  unittests: any of: gtd_coach/, but not: **/__pycache__, **/test_*.py, tests/, docs/, scripts/, examples/, .github/, *.md, setup.py, conftest.py
  integration: any of: gtd_coach/, but not: **/__pycache__, **/test_*.py, tests/, docs/, scripts/, examples/, .github/, *.md, setup.py, conftest.py
  agent: any of: gtd_coach/agent/, but not: **/__pycache__, **/test_*.py, tests/, docs/, scripts/, examples/, .github/, *.md, setup.py, conftest.py
