Repository devops-adeel/gtd-coach: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, agent

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 85%
        threshold: 2%
        if_ci_failed: error
        informational: false
        only_pulls: false
      
      critical:
        target: 95%
        threshold: 1%
        paths:
          - "gtd_coach/agent/workflows/"
          - "gtd_coach/agent/tools/"
        if_ci_failed: error
        informational: false
      
      agent:
        target: 90%
        threshold: 2%
        paths:
          - "gtd_coach/agent/"
        if_ci_failed: error
        informational: false
    
    patch:
      default:
        target: 85%
        threshold: 5%
        if_ci_failed: error
        informational: false
        only_pulls: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,tree,betaprofiling"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

ignore:
  - "**/__pycache__"
  - "**/test_*.py"
  - "tests/"
  - "docs/"
  - "scripts/"
  - "examples/"
  - ".github/"
  - "*.md"
  - "setup.py"
  - "conftest.py"

flags:
  unittests:
    paths:
      - "gtd_coach/"
    carryforward: false
  
  integration:
    paths:
      - "gtd_coach/"
    carryforward: true
  
  agent:
    paths:
      - "gtd_coach/agent/"
    carryforward: true

github_checks:
  annotations: true

docs(user): add ADHD-optimized user documentation
  docs/user/QUICK_REFERENCE.md
  docs/user/USER_GUIDE.md
  docs/user/screenshots/README.md
Due: none

feat: add Langfuse test analysis integration for AI debugging
  CLAUDE.md
  docs/dev/langfuse-implementation-summary.md
  docs/dev/langfuse-test-analysis.md
  scripts/analyze_langfuse_traces.py
  scripts/test_langfuse_analyzer.sh
  tests/conftest.py
  tests/test_langfuse_analyzer_example.py
Due: none

feat(prompts): add centralized PromptManager class
  gtd_coach/prompts/manager.py
Due: unittests, integration

feat(langfuse): add prompt linking to traces
  gtd_coach/agent/core.py
  gtd_coach/agent/runner.py
  gtd_coach/observability/langfuse_tracer.py
Due: unittests, integration, agent

feat(langfuse): enhance trace analyzer for debugging
  scripts/LANGFUSE_ANALYZER_USAGE.md
  scripts/analyze_langfuse_traces.py
  scripts/test_enhanced_langfuse_analyzer.py
Due: none

feat(langfuse): add prompt management utilities
  scripts/langfuse/upload_all_prompts.py
  scripts/langfuse/upload_missing_prompts.py
  scripts/test_prompt_linking.py
  scripts/verify_prompt_linking.py
  scripts/verify_prompts.py
Due: none

feat(graphiti): add memory enhancements and optimization
  gtd_coach/integrations/graphiti.py
  gtd_coach/integrations/graphiti_client.py
Due: unittests, integration

feat(agent): add selective memory augmentation to tools
  gtd_coach/agent/tools/adaptive.py
  gtd_coach/agent/tools/capture.py
Due: unittests, integration, agent

test: add comprehensive tests and documentation
  docs/graphiti-enhancements-summary.md
  gtd_coach/agent/tools/interaction.py
  gtd_coach/evaluation/post_session.py
  scripts/test_evaluation_prompts.py
  scripts/test_evaluation_simple.py
  scripts/test_online_evaluation.py
  tests/test_graphiti_performance.py
  tests/test_graphiti_performance_simple.py
Due: unittests, integration, agent

feat: implement simplified GTD workflow (Phases 2-5)
  QUICK_START.md
  docs/SETUP_TIMING.md
  docs/user/QUICK_REFERENCE.md
  docs/user/USER_GUIDE.md
  gtd_coach/agent/workflows/weekly_review.py
  gtd_coach/commands/daily_capture.py
  gtd_coach/commands/daily_clarify.py
  gtd_coach/integrations/graphiti.py
  gtd_coach/integrations/timing.py
  gtd_coach/integrations/todoist.py
  requirements.txt
  scripts/validation/test_simplified_workflow.py
  scripts/validation/test_timing_api.py
  scripts/validation/test_timing_read.py
  scripts/validation/test_todoist_integration.py
Due: unittests, integration, agent

fix: handle both text and chat prompts in PromptManager
  gtd_coach/prompts/manager.py
  scripts/fix_prompt_type.py
Due: unittests, integration

fix(langfuse): switch to async OpenAI client for embeddings
  gtd_coach/integrations/graphiti_client.py
Due: unittests, integration

fix(prompts): replace literal placeholders with dynamic variables
  config/prompts/system.txt
Due: none

feat(docker): add log rotation to prevent disk exhaustion
  docker-compose.yml
Due: none

feat(monitoring): add disk space monitoring utilities
  gtd_coach/utils/disk_monitor.py
Due: unittests, integration

feat(maintenance): add Docker cleanup automation scripts
  scripts/docker_maintenance.sh
  scripts/setup_maintenance_cron.sh
Due: none

fix(agent): add disk space pre-flight checks
  gtd_coach/agent/runner.py
Due: unittests, integration, agent

feat(prompts): enhance prompt manager with chat format handling
  gtd_coach/prompts/manager.py
  scripts/langfuse/upload_all_prompts.py
Due: unittests, integration

docs: document January 2025 fixes and maintenance procedures
  CLAUDE.md
  tests/agent/test_interrupt_resume.py
Due: none

fix(agent): resolve weekly review UX issues with interrupt handling
  gtd_coach/agent/core.py
  gtd_coach/agent/core_metrics_fix.py
  gtd_coach/agent/runner.py
  gtd_coach/integrations/graphiti.py
  gtd_coach/observability/interrupt_monitor.py
  gtd_coach/observability/langfuse_tracer.py
Due: unittests, integration, agent

feat(tools): add v3 conversation tools with improved interrupt pattern
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/capture_v2.py
  gtd_coach/agent/tools/conversation_v2.py
  gtd_coach/agent/tools/conversation_v3.py
  scripts/langfuse/upload_prompts_v3.py
Due: unittests, integration, agent

docs: add comprehensive developer and user documentation
  README.md
  docs/dev/api-reference.md
  docs/dev/langgraph-development.md
  docs/user/adhd-guide.md
  docs/user/getting-started.md
Due: none

feat(migration): add deprecation and migration infrastructure
  gtd_coach/deprecation/decorator.py
  gtd_coach/migration/__init__.py
  gtd_coach/migration/auto_orchestrator.py
  gtd_coach/migration/clarify_adapter.py
  gtd_coach/migration/quality_gates.py
  gtd_coach/observability/deprecation_telemetry.py
  scripts/setup_migration_alerts.py
  scripts/setup_migration_dashboard.py
Due: unittests, integration

feat(agent): implement agent-based clarify workflow
  gtd_coach/__main__.py
  gtd_coach/agent/tools/__init__.py
  gtd_coach/agent/tools/clarify_v3.py
  gtd_coach/agent/tools/todoist.py
  gtd_coach/agent/workflows/daily_clarify.py
Due: unittests, integration, agent

refactor(commands): apply deprecation to legacy commands
  gtd_coach/commands/daily_alignment.py
  gtd_coach/commands/daily_capture_legacy.py
  gtd_coach/commands/daily_clarify.py
Due: unittests, integration

docs: add migration guides and testing infrastructure
  .gitignore
  docs/migration/AGENT_QUICKSTART.md
  docs/migration/MIGRATION_STATUS.md
  docs/migration/TRIAL_LOG.md
  scripts/test_migration_setup.py
  scripts/testing/run_clarify_trial.sh
  scripts/testing/test_agent_ready.py
  scripts/testing/test_clarify_interactive.py
  scripts/testing/test_clarify_migration.py
  scripts/testing/test_clarify_structure.py
Due: none
